/* --- GENERAL RULES --- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #444;
}

a {
  transition: background-color 0.2s;
}
main ul {
  list-style-type: none;
}
main ul li {
  margin-top: 10px;
  padding-left: 15px;
}
section {
  margin-top: 40px;
  padding-top: 80px;
  width: 100%;
}

main section h3 {
  text-transform: uppercase;
  font-size: 130%;
  font-weight: 300;
  letter-spacing: 8px;
  word-spacing: 5px;
  text-align: center;
  margin-bottom: 50px;
}
main section h4 {
  font-size: 110%;
  letter-spacing: 3px;
  font-weight: 300;
  margin: 20px 0;
}
main section h5 {
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 20px 0;
  text-transform: uppercase;
}

section > p {
  padding: 0 5%;
}
ion-icon {
  font-size: 64px;
  --ionicon-stroke-width: 16px;
}

/* --- REUSABLE COMPONENTS --- */
.btn {
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 200px;
  width: 185px;
  text-align: center;
}
.btn-main:link,
.btn-main:visited {
  background-color: #2980b9;
}
.btn-main:hover,
.btn-main:active {
  background-color: #20638f;
}
.btn p {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.center-text {
  text-align: center;
}
.center-list {
  text-align: center;
  margin-top: 15px;
  list-style-type: none;
}
.center-list li {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 80%;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  z-index: 10;
}

/* --- GRID --- */
.row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1-of-3 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
}

.col-2-of-3 {
  width: 66.67%;
  float: left;
  padding: 0 15px;
}

.col-1-of-2 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

/* --- HEADER --- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(to top, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)),
    linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9)),
    url(images/studio.JPG);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header h1 {
  font-weight: 300;
  font-size: 240%;
  font-family: "Lato", "Arial", sans-serif;
  letter-spacing: 1px;
  word-spacing: 4px;
}
header h4 {
  font-weight: 300;
  font-size: 160%;
  font-family: "Lato", "Arial", sans-serif;
  letter-spacing: 1px;
  word-spacing: 4px;
}
header ion-icon {
  font-size: 100%;
  --ionicon-stroke-width: 32px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: -5px;
}
.hero-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
}

.btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- NAVBAR --- */
.logo-img {
  width: 1.5rem;
  display: inline-block;
  margin-left: 4px;
  margin-top: 4px;
}
.logo-wrapper {
  background-color: #fff;
  border-radius: 200px;
  width: 2rem;
  height: 2rem;
  float: left;
}

.main-navbar {
  padding: 10px 5px;
  font-size: 70%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  transition: background-color 0.2s;
}
.nav-on-header {
  color: #fff;
}
.nav-on-main {
  background-color: #219251;
}
.main-navbar a:link,
.main-navbar a:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: border-bottom 0.5s;
}

.main-navbar .on-header:hover,
.main-navbar .on-header:active {
  border-bottom: 2px solid #2980b9;
}
.main-navbar .on-main:hover,
.main-navbar .on-main:active {
  border-bottom: 2px solid #ffffff;
}
.main-navbar li {
  display: inline-block;
  margin: 10px 15px;
}
.main-navbar ul {
  float: right;
}
/* --- SECTION WHO --- */
.who p {
  margin-bottom: 40px;
  line-height: 145%;
}
.profile-img {
  width: 300px;
  height: auto;
  display: block;
  border-radius: 50%;
  margin: 40px auto 40px;
}
.contact-info {
}
/* --- SECTION WHAT IS --- */
.what-is {
  background-color: rgb(240, 240, 240);
}
.tabular-row {
  padding: 25px 25px;
  border-bottom: 1px solid #ccc;
}
.tabular-row:last-child {
  border-bottom: none;
}
.what-is p {
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 135%;
}
.what-is ion-icon {
  width: 64px;
  display: block;
  margin: 0 auto 0 auto;
  color: #20638f;
}
/* --- SECTION WHAT DO --- */
.what-do ion-icon {
  transition: color 0.5s;
}
.tab-content {
  padding: 0 55px;
  margin-top: 50px;
  transition: color 0.5s;
}
.tab-content p {
  line-height: 145%;
}
.tab-container {
  position: relative;
  margin-bottom: 100px;
}
.tab-btn {
  display: inline-block;
  padding: 25px 25px;
  margin-left: -2px;
  margin-bottom: -2px;
}
.tab-btn-active {
  border-width: 2px 2px 2px 2px;
  border-color: #20638f;
  border-style: solid;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid #fff;
  transition: border-color 0.5s;
}
.tab-btn-active ion-icon {
  color: #444;
}
.tab-btn-inactive {
  border-width: 2px 2px 0 2px;
  border-color: transparent;
  border-style: solid;
  border-radius: 15px 15px 0 0;
}
.tab-btn-inactive ion-icon {
  color: #888;
}
.tab-btn img {
  width: 50px;
  height: 50px;
}
.tab-content-inactive {
  display: none;
}
.tab-content-active {
  /* color: #000; */
}
.tab-control {
  margin-left: 40px;
  border-bottom: 2px solid #20638f;
}

/* --- SECTION WHERE --- */
.where {
  background-color: rgb(240, 240, 240);
}
.map-container {
  height: 85vh;
}
