/* Extra small devices (phones, 600px and down) */
/* --- GENERAL RULES --- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.no-click-bg {
  -webkit-tap-highlight-color: transparent;
}

.text-shadow-only-over:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* :root {
  --blue: #1864ab;
  --dark-blue: #1971c2;
} */
html {
  /* font-family: "Lato", "Arial", sans-serif; */
  /* font-size: 15px; */
  /* font-weight: 300; */
  /* text-rendering: optimizeLegibility; */
  /* color: #444; */
}
body {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9)), */
  /* url(../../images/fontana.JPG); */
  /* filter: blur(8px); */
  /* background-size: cover;
  background-attachment: fixed; */
  /* height: 100vh; */
}

/* @media (prefers-color-scheme: light) {
  .adaptive-background {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  .adaptive-background {
    background-color: #fff;
  }
} */
/* .text-blue {
  color: var(--blue);
} */
/* .fw-100 {
  font-weight: 100;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
} */
/* a {
  transition: background-color 0.2s;
} */
/* main ul {
  list-style-type: none;
} */
/* main ul li {
  margin-top: 10px;
  padding-left: 15px;
} */
/* section {
  margin: 0;
  padding-top: 75px;
  width: 100%;
} */

/* main section h3 {
  text-transform: uppercase;
  font-size: 130%;
  font-weight: 300;
  letter-spacing: 4px;
  word-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
} */
/* main section h4 {
  font-size: 110%;
  letter-spacing: normal;
  word-spacing: 3px;
  font-weight: 400;
  margin: 10px 0;
} */
/* main section h5 {
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
} */

/* section > p {
  padding: 0 5%;
} */
/* ion-icon {
  font-size: 64px;
  --ionicon-stroke-width: 16px;
} */

/* --- REUSABLE COMPONENTS --- */
/* .btn {
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  margin: 10px 20px;
  text-decoration: none;
  border-radius: 200px;
  width: 192px;
  text-align: center;
}
.btn-main:link,
.btn-main:visited {
  background-color: var(--dark-blue);
}
.btn-main:hover,
.btn-main:active {
  background-color: var(--blue);
} */
/* .btn-border {
  width: 285px;
}
.btn-border:link,
.btn-border:visited {
  font-weight: 400;
  background-color: var(--dark-blue);
}
.btn-border:hover,
.btn-border:active {
  background-color: var(--blue);
}
.btn-border ion-icon {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -3px;
}
.btn p {
  margin: 0;
  padding: 0;
  display: inline-block;
} */
/* .center-text {
  text-align: center;
}
.center-list {
  text-align: center;
  margin-top: 15px;
  list-style-type: none;
}
.center-list li {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 100%;
  margin-bottom: 15px;
  word-spacing: 2px;
}

.hidden {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  z-index: 10;
} */

/* --- GRID --- */
/* .row {
  margin: 0px 1.5% 0 1.5%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
} */
/* [class*="col-"] {
  width: 100%;
} */

/* --- HEADER --- */
/* header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9)),
    url(../../images/Studio.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
} */

/* .insiemebg {
  background-image: url(../../images//insieme.jpg);
} */

/* header h1 {
  font-weight: 400;
  font-size: 240%;
  letter-spacing: 1px;
  word-spacing: 4px;
}
header h2 {
  font-weight: 300;
  font-size: 160%;
  letter-spacing: normal;
  word-spacing: 4px;
} */
/* header ion-icon {
  font-size: 100%;
  --ionicon-stroke-width: 32px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 8px;
} */
/*.hero-text {
  position: relative;*/
/* bottom: 10%;
  left: 5%; */
/*margin-left: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}*/

/* .btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-container a {
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
} */

/* --- NAVBAR --- */
/* .logo-img {
  width: 42px;
  height: 42px;
  display: inline-block;
  /* margin-left: 4px;
  margin-top: 4px; */
/*margin-left: 5px;
  border-radius: 100%;
} */
/*.logo-wrapper {
   background-color: transparent;
  border-radius: 200px;
  width: 2rem;
  height: 2rem; */
/* float: left; 
}*/

/* .main-navbar { */
/* padding: 10px 5px; */
/* font-size: 70%; */
/* position: fixed; */
/* max-width: 1920px; */
/* top: 0;
  left: 50%;
  transform: translateX(-50%); */
/* width: 100%;
  z-index: 2; */
/* transition: background-color 0.2s, height 0.3s; */
/* overflow: hidden; */
/* } */
/* .navbar-min {
  height: 60px;
}
.navbar-max {
  height: 190px;
}
.nav-on-header {
  /* background-image: linear-gradient(rgba(59, 83, 1, 1), rgba(59, 83, 1, 1)); */
/* backdrop-filter: blur(10px); */
/* color: #fff;
}
.nav-on-main {
  background-color: var(--dark-blue);
} */
/* .navbar-toggle {
  float: right;
  display: block;
}
.navbar-toggle-btn {
  font-size: 220%;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  background-color: transparent;
}
.navbar-toggle-btn ion-icon {
  margin: -5px 0 0 0;
  color: #fff;
}*/
.rotate0 {
  transition: transform 0.2s;
  transform: rotate(0);
}
.rotate90 {
  transition: transform 0.2s;
  transform: rotate(0.25turn);
}

/* --- SECTION WHO --- */
/* .who {
  background-color: rgb(255, 255, 255);
}
.who p {
  margin-bottom: 40px;
  line-height: 145%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.profile-img {
  width: 150px;
  height: auto;
  display: block;
  border-radius: 0%;
  margin: 40px auto 40px;
} */
/* .contact-info ion-icon {
  font-size: inherit;
} */
/* .contact-card {
  margin-bottom: 20px;
} */
.social-logo {
  /*width: 16%;*/
  /* width: 64px;
  height: 64px; */
  /* padding: 5px;
  margin: 0 10px;
  border-radius: 50%; */
}
/* .social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 72px;
} */
/* --- SECTION WHAT IS --- */
/* .what-is {
  background-color: rgb(240, 240, 240);
} */
/* .tabular-row {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.tabular-row:last-child {
  border-bottom: none;
} */
/* .what-is ul {
  margin-top: -25px;
  margin-bottom: 35px;
}
.what-is p {
  margin-bottom: 35px;
  margin-top: 15px;
  line-height: 135%;
}
.what-is ion-icon {
  width: 64px;
  display: block;
  margin: 0 auto 0 auto;
  color: var(--dark-blue);
} */
/* --- SECTION WHAT DO --- */
/* .what-do {
  background-color: rgb(255, 255, 255);
}
.what-do .row .row:last-of-type {
  padding-top: 10px;
  background-color: rgb(240, 240, 240);
}
.what-do ion-icon {
  transition: color 0.5s;
}
.tab-content {
  padding: 0 20px;
  margin-top: 50px;
  transition: color 0.5s;
}
.tab-content p {
  line-height: 145%;
}
.tab-container {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}
.tab-btn {
  display: inline-block;
  padding: 25px 25px;
  margin-left: -2px;
  margin-bottom: -2px;
}
.tab-btn-active {
  border-width: 2px 2px 2px 2px;
  border-color: var(--dark-blue);
  border-style: solid;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid #fff;
  transition: border-color 0.5s;
}
.tab-btn-active ion-icon {
  color: #444;
}
.tab-btn-inactive {
  border-width: 2px 2px 0 2px;
  border-color: transparent;
  border-style: solid;
  border-radius: 15px 15px 0 0;
}
.tab-btn-inactive ion-icon {
  color: #888;
}
.tab-btn img {
  width: 50px;
  height: 50px;
}
.tab-content-inactive {
  display: none;
} */
/* .tab-content-active { */
/* color: #000; */
/* } */
/* .tab-control {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #20638f;
}
.tab-control a {
  width: 33.33%;
  text-align: center;
}
.tab-control a ion-icon {
  margin: 0 auto 0 auto;
  font-size: 40px;
} */
/* --- SECTION WHERE --- */

.where {
  background-color: #fff;
  padding-bottom: 20px;
}
.map-container {
  height: 85vh;
}

/* --- FOOTER --- */
footer {
  background-color: #333;
  color: #cecece;
  font-size: 100%;
  /* margin: 20px 0 0 0; */
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
footer .col-1-of-3 {
  margin-top: 10px;
}
footer .row {
  background-color: inherit;
  color: inherit;
}
footer a {
  transition: color 0.2s;
}
footer a:link,
footer a:visited {
  text-decoration: none;
  color: inherit;
}
footer a:hover,
footer a:active {
  font-weight: 400;
  color: #ffffff;
}
footer h4,
footer h5 {
  font-weight: 400;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  /* html {
    font-size: 18px;
  } */
  /* section {
    margin-top: 0;
  } */

  /* .row {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  } */

  /* [class*="col-"] {
    width: 100%;
  } */
  /* .tab-control a {
    width: auto;
    text-align: center;
  }
  .tab-control ion-icon {
    font-size: 40px;
  } */
  /* .navbar-toggle {
    display: none;
  }
  .main-navbar li {
    display: inline-block;
    margin: 10px 12px;
  }
  .main-navbar ul {
    float: right;
    margin-top: 0;
    width: auto;
  } */

  /* .btn-border {
    width: 320px;
  } */
  /*.social-logo {
     width: 15%;*/
  /* max-width: 72px; 
  }*/
  /* .profile-img {
    width: 40%;
    max-width: 250px;
  } */
  /* .what-do .row .row:last-of-type {
    padding-top: 10px;
    background-color: #fff;
  }
  .what-do .center-text {
    margin-top: 30px;
  } */
  /* .where {
    background-color: rgb(240, 240, 240);
  }
  footer {
    font-size: 85%;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* html {
    font-size: 20px;
  } */
  /* header ion-icon {
    margin-top: -4px;
  }
  .navbar-toggle {
    display: none;
  } */
  /* .main-navbar li {
    display: inline-block;
    margin: 10px 12px;
  } */
  /* .main-navbar ul {
    float: right;
    margin-top: 0;
    width: auto;
  } */
  /* .tab-control ion-icon {
    font-size: 48px;
  } */
  /* .btn-border {
    width: 360px;
  } */
  /* .what-do .center-text {
    margin-top: 45px;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* header h1 {
    font-weight: 300;
  }
  header h4 {
    letter-spacing: 1px;
  } */

  /* .col-1-of-3 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
  }

  .col-2-of-3 {
    width: 66.67%;
    float: left;
    padding: 0 15px;
  }

  .col-1-of-2 {
    width: 50%;
    float: left;
    padding: 0 15px;
  } */

  /* .btn-container {
    text-align: center;
  }
  .btn-container a {
    display: inline-block;
    margin: 0 20px;
  }
  .tab-control a ion-icon {
    margin: 0 auto 0 auto;
    font-size: 48px;
  } */
  /* footer {
    text-align: left;
  }
  footer .col-1-of-3 {
    margin-top: 0;
  } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
  }
  ion-icon {
    font-size: 64px;
    --ionicon-stroke-width: 16px;
  }
  .what-do .center-text {
    margin-top: 65px;
  } */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
