* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.no-click-bg {
  -webkit-tap-highlight-color: transparent;
}

.text-shadow-only-over:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.default-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.default-hidden.visible {
  opacity: 1;
}

.treatment-card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 60%
  );
}

.target-bg {
  background-color: rgb(157, 168, 134);
  background: linear-gradient(
    rgba(157, 168, 134, 1) 0%,
    rgba(223, 228, 214, 1) 49%,
    rgba(157, 168, 134, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  .treatment-card {
    background: linear-gradient(
      180deg,
      rgba(58, 63, 48, 0) 0%,
      rgba(58, 63, 48, 1) 60%
    );
  }
  .target-bg {
    background-color: rgb(157, 168, 134);
    background: linear-gradient(
      rgba(70, 70, 70, 1) 0%,
      rgba(128, 128, 128, 1) 49%,
      rgba(70, 70, 70, 1) 100%
    );
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.landing-text {
  animation: text-pulse 9s ease-in-out infinite;
}

@keyframes text-pulse {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  28% {
    opacity: 100%;
  }
  33% {
    opacity: 0%;
  }
  66% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
.rotate0 {
  transition: transform 0.2s;
  transform: rotate(0);
}
.rotate90 {
  transition: transform 0.2s;
  transform: rotate(0.25turn);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
